[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
related = "*"
bluepy = "*"
peewee = "*"
retry = "*"
tqdm = "*"
influxdb = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
