[Unit]
Description=Post EnvSensorData to influxdb every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=wxbeacon2post_influxdb.service

[Install]
WantedBy=timers.target
